.createRoomContainer {
  background-color: darkgoldenrod;
  width: 100vw;
  height: 100vh;
}

.createRoomBar {
  display:flex;
  
  background-color: rgb(42, 67, 67, 0.3);
}

.creatRoomContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createRoomInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.errorInputRoomName {
  margin-top: -1.75em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  color: rgb(132, 7, 7);
  font-size: x-small;
}


.choices {
  display: flex;
  flex-direction: row;
}

.rock,
.paper,
.scissors {
  width: 12em;
  height: 12em;
  margin: 5em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  cursor: pointer;
  padding: 1em;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  box-shadow: 0 0.1em 2em rgb(11, 245, 245);
}

.yourChoice {
  font-size: x-large;
  margin-bottom: -1em;
  margin-top: 1em;
}

.labelCreateRoom {
  margin-top: 2em;
  font-size: x-large;
}

.roomNameUnsave {
  display: flex;
  justify-content: center;
}