.logo-tulisan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kotakHome {
  width: 3.7em;
  height: 3.7em;
  border-radius: 20%;
  background-color: rgba(209, 238, 46, 0.74);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.kotakHome:hover {
  transform: scale(1.05);
}

.lingkaranHome {
  width: 3.4em;
  height: 3.4em;
  border-radius: 50%;
  background-color: rgba(245, 240, 224, 0.986);
  position: absolute;
  border: 3px solid rgb(20, 237, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modelisiScissors,
.modelisiQuest,
.modelisiPaper,
.modelisiRock {
  width: 1.1em;
  height: 1.1em;
  position: absolute;
}

.modelisiScissors {
  margin-left: -1.7em;
}

.modelisiQuest {
  margin-bottom: 1.7em;
}

.modelisiPaper {
  width: 1em;
  height: 1em;
  margin-left: 1.9em;
}

.modelisiRock {
  margin-top: 1.7em;
}
