.player1Vsplayer2-content-middle {
    display: flex;
    font-size: xx-large;
    transform: rotate(330deg);
    margin-left: -10em;
    margin-right: -10em;
    padding: 1em;
    width: 5em;
    height: 3.5em;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    background-color: green;
  }