.containerRoomList {
  display: grid;
  grid-template-columns: 15em 15em 15em;
  gap: 1.5em;
}

.singleRoomList {
  width: 15em;
  background-color: azure;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 0.5em;
}

.singleRoomList:hover {
  transform: scale(1.1);
  background-color: rgb(0, 138, 138, 0.4);
}

.singleListRoomName {
  font-weight: 800;
}
