* {
  margin: 0;
  box-sizing: border-box;
}

.inputComponent {
  display: flex;
  justify-content: center;
}

input {
  border: none;
  background-color: rgb(229, 226, 226);
  width: 25em;
  border-radius: 0.25em;
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

input:focus {
  outline-color: rgb(6, 179, 179);
}
