* {
  margin: 0;
  box-sizing: border-box;
}

.buttonComponent {
  border: none;
  width: 10em;
  height: 2.5em;
  background-color: rgb(247, 237, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 0.25em;
  cursor: pointer;
  font-weight:bold;

}

.buttonComponent:hover {
  transform: scale(1.25);
}
