* {
  margin: 0;
  box-sizing: border-box;
}

.pageLogin {
  background-color: rgb(214, 166, 44);
  height: 100vh;
  width: 100%;
}

.login-midle-container {
  display: flex;
  justify-content: center;
}

.coverLogin {
  background-color: darkgoldenrod;
  width: 30em;
  height: 35em;
  border-radius: 1em;
  box-shadow: 0 0.2em 1.5em rgb(100, 156, 156);
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coverLogin:hover {
  box-shadow: 0 0.1em 3em rgb(11, 245, 245);
}

.loginLogo {
  height: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subTitleLogin {
  margin-bottom: 4em;
  text-align: center;
  font-size: smaller;
  color: aliceblue;
  font-style: italic;
}

.errorInputLogin {
  margin-top: -1.75em;
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
  color: rgb(132, 7, 7);
  font-size: x-small;
}

.regist > span {
  color: deepskyblue;
}

.buttonLogin {
  margin-top: 1em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.textBelow-login {
  text-align: center;
}
