.roomName {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.roomName-box {
  display: flex;
  border: rgb(133, 86, 4) solid;
  border-radius: 10em;
  width: 12.5em;
  height: 2em;
  font-size: xx-large;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
  color: aliceblue;
}
