.dashboardContainer {
  background-color: darkgoldenrod;
  width: 100vw;
  height: 100vh;
}

.dash-containerBelow {
  display: flex;
  justify-content: center;
  margin-left: -2em;
}

.leftBelow {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-left: 2em;
}

.playVSCom {
  display: flex;
  height: 10em;
  align-items: center;
}

.playVSComBox {
  display: flex;
  width: 12em;
  height: 3.5em;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 138, 138, 0.6);
  border-radius: 0.5em;
  font-weight: 800;
  cursor: pointer;
  font-size: x-large;
  color: aliceblue;
}

hr {
  width: 90%;
  border-width: 0.2em;
}

.createNewRoom {
  display: flex;
  width: 10em;
  height: 4em;
  align-items: center;
  cursor: pointer;
  font-weight: 1000;
  font-size: x-large;
  color: aliceblue;
}

.createNewRoom:hover {
  transform: scale(1.05);
}

.rightBelow {
  display: flex;
  flex-direction: column;
  width: 27.5em;
  height: 35em;
  margin-top: 2em;
  align-items: center;
  background-color: azure;
  border-radius: 1em;
}

.rightBelow:hover {
  box-shadow: 0 0.1em 2em rgb(11, 245, 245);
}

.userPictPart {
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
  
}

.userPictBox {
  width: 9em;
  height: 9em;
  margin-bottom: .25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userPicture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: solid gold;
}

.profilName {
  font-family: fantasy;
  font-size: larger;
  font-weight: 800;
}

.userBio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

.updateBio {
  margin-bottom: 3em;
  width: auto;
  padding: .5em;
  border: solid gold;
}

.updateBio:hover {
  transform: scale(1.05);
}

.gameHistory {
  padding: 0.5em;
  border-radius: 1em;
  cursor: pointer;
}

.gameHistory:hover {
  transform: scale(1.05);
  background-color: gold;
  font-weight: 500;
}
