/* Halaman-1 */

.homeContainer {
  background-image: url("../../Elements/assets-Ch-3/main-bg.jpg");
  background-color: darkgoldenrod;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.homeNavBar {
  display: flex;
  justify-content: center;
  background-color: rgb(42, 67, 67, 0.3);
}

.homeTitle {
  color: aliceblue;
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  margin-top: 2em;
}

.homeSubtitle {
  color: aliceblue;
  font-size: x-large;
  text-align: center;
  margin-top: 2em;
}

.playNowButton {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.theStory {
  display: flex;
  justify-content: center;
  color: white;
  font-size: x-small;
  margin-top: 25em;
}

.homeIconDown {
  display: flex;
  justify-content: center;
}

.iconDown {
  background-image: url(../../Elements/images/down-arrow.png);
  width: 3em;
  height: 2em;
}

/* Halaman-2 */