.navbarGame,
.navbarHome {
  display: flex;
  height: 4em;
  align-items: center;
}

.gameNavBar, homeNavbar {
  display: flex;
  justify-content: center;
  background-color: rgb(42, 67, 67, 0.3);
}

.gameHomeBar,
.gameLogoutBar,
.gameDashboardBar,
.homeSignupBar,
.homeLoginBar,
.homeDashboardBar,
.workBar,
.contactBar,
.aboutMeBar {
  width: 8em;
  height: 2.5em;
  text-align: center;
  font-weight: 500;
  padding-top: 0.5em;
  cursor: pointer;
  color: white;
}

.homeMiddleBar {
  display: flex;
  margin-left: 17.5em;
}

.gameHomeBar:hover,
.gameLogoutBar:hover,
.gameDashboardBar:hover,
.homeSignupBar:hover,
.homeLoginBar:hover,
.homeDashboardBar:hover,
.workBar:hover,
.contactBar:hover,
.aboutMeBar:hover {
  background-color: rgb(190, 154, 34);
  border-radius: 1.5em;
}

.homeSignupBar {
  margin-left: 12.5em;
}

